body {
  margin: 0 auto;
  font-family: 'Noto Sans Japanese', sans-serif;
}

li {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #000000;
}

.header_logo img {
  width: 100%;
}

img {
  width: 100%
}

header {
  text-align: center;
  border-bottom: 3px solid #000;
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0px;
  left: 0;
  z-index: 10;
  background: white;
}

header .header_logo {
  display:block;
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
}

.header_list {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 100px;
}

li {
  display: inline-block;
  padding: 10px;
}

/* slickのcss */
.slider {
  margin: 30px auto 0;
  width: 100%;
}

.slider::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.slider::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15%;
  background-color: rgba(0, 0, 0, 0.3);
}

.slider::before {
  left: 0;
}

.slider::after {
  right: 0;
}

.slider .slick-dots {
  bottom: -50px;
}

.slick-img {
  height: auto;
  width: 500px;
}
.slick-img img {
  height: auto;
  width: 100%;
}

.slick-prev:before {
  content: '←';
  color: black;
  font-size: 26px;
}

.slick-next:before {
  content: '→';
  color: black;
  font-size: 26px;
}

/* slickのCSSここまで */


.main_contents {
  max-width: 1300px;
  margin: 0 auto;
}

h2 {
  margin-top: 200px;
  color: #000000;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  border-top: 2px solid #000000;
  margin-bottom: 0;
}

h2 .title {
  /* max-width: 1000px;
  margin: 0 auto; */
  background-color: #ffffff;
  padding: 0 20px;
  position: relative;
  top: -23px;
}

.sub_title {
  position: relative;
  text-align: center;
  font-weight: normal;
  border-top: none;
  display: block;
  margin-bottom: 45px;
  margin-top: -15px;
  padding-bottom: 0;
  width: auto;
  font-size: 14px;
}

.pickup_content {
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.pickup_content .slider_recommend .pickup_img img {
  width: 167px;
  height: 125px;
}

.pickup_content .slider_recommend .pickup_img .date {
  font-size: 14px;
  color: black;
  margin: 15px 0;
}
.pickup_content .slider_recommend .pickup_img .description {
  font-weight: 500;
  color: black;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.pickup_content .pickup_list li {
  margin: 0 10px;
}

.pickup_list {
  display: flex;
  justify-content: center;
  word-wrap: break-word;
  flex-wrap: wrap;
}

.pickup_content .pickup_list li {
  width: 20%;
}

.pickup_content .pickup_list li .date {
  font-size: 14px;
  color: black;
  margin-bottom: 10px;
}

.pickup_content .pickup_list li .description {
  font-weight: 600;
  color: black;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.other_list {
  display: block;
  justify-content: center;
}
.pickup_content .other_list li {
  width: 30%;
}

.pickup_content .collection_index {
  color: #29619a;
  font-size: 16px;
  line-height: 2.5;
  background: #ffffff;
  border: 2px solid #29619a;
  box-sizing: border-box;
  width: 280px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  font-weight: bold;
  text-align: center;
  margin: 30px auto 0;
}

.release {
  display: block;
  width: 80%;
  margin: 100px auto 0;
}

.twitter_area {
  width: 500px;
  margin: 0 auto;
  max-height: 600px;
  overflow-y: scroll;
  margin: 0 auto;
}

footer {
  background: #e5e5e1;
}

footer ul {
  text-align: center;
}
footer ul li {
  margin-right: 10px;
}

footer ul .footer_menu:after {
  content: "|";
  display: inline-block;
  width: 10px;
  color: #c1c1c1;
  text-align: center;
}

footer ul .footer_menu .menu_list {
  font-size: 12px;
  color: #000;
}

footer ul li a .pickup_img {
  width: 30px;
}