
body {
  margin: 0 auto;
  font-size: 62.5% !important;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em !important;
}

ul {
  margin: 0;
  padding: 0;
}

.only_pc {
  display: block;
}

.only_sp {
  display: none;
}

@media only screen and (max-width: 796px){
  .only_pc {
    display: none!important;
  }
  .only_sp {
    display: block!important;
  }
}


li {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #000000;
}

.header_logo img {
  margin-top: 20px;
  width: 100%;
}

img {
  width: 100%
}

header {
  text-align: center;
  border-bottom: 3px solid #000;
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0px;
  left: 0;
  z-index: 10;
  background: white;
  padding-bottom: 35px;
}

header .header_logo {
  display:block;
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
}

.inner_gnav_menu {
  display: block;
  width: 1015px;
  white-space: nowrap;
  position: relative;
  vertical-align: bottom;
  margin: 0 auto;
}

.inner_gnav_menu .header_list {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_list li a {
  display: inline-block;
  height: 58px;
  line-height: 64px;
  margin-right: 0px;
  padding: 0 14px;
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  letter-spacing: initial;
  position: relative;
}

.header_list li a:hover {
  text-decoration: none;
  font-weight: bold;
}

.header_last_list {
  padding-top: 8px;
}

.container {
  margin-top: 100px;
}

li {
  display: inline-block;
}

/* slickのcss */
.slider {
  margin: 30px auto 0;
  width: 100%;
}

@media only screen and (min-width: 796px) {
  .slider::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .slider::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .slider::before {
    left: 0;
  }

  .slider::after {
    right: 0;
  }

  .slick-next {
    right: 7px!important;
  }
  .slick-prev:before {
    content: '←';
    color: black;
    font-size: 26px;
  }

  .slick-next:before {
    content: '→';
    color: black;
    font-size: 26px;
  }
}

.slider .slick-dots {
  bottom: -50px;
}

.slick-img {
  height: auto;
  width: 500px;
}
.slick-img img {
  height: auto;
  width: 100%;
}

.slick-prev:before {
  content: '←';
  color: black;
  font-size: 26px;
}

.slick-next:before {
  content: '→';
  color: black;
  font-size: 26px;
}

@media only screen and (max-width: 796px) {
  .container .slider .slick-list {
    margin-top: 190px;
  }
}

/* slickのCSSここまで */


.main_contents {
  max-width: 1000px;
  margin: 0 auto;
}

h2 {
  margin-top: 130px;
  color: #000000;
  text-align: center;
  font-size: 2.8em;
  font-weight: bold;
  border-top: 2px solid #000000;
  margin-bottom: 0;
}

h2.first_content {
  margin-top: 200px;
}

h2 .title {
  /* max-width: 1000px;
  margin: 0 auto; */
  background-color: #ffffff;
  padding: 0 20px;
  position: relative;
  top: -23px;
}

.sub_title {
  position: relative;
  text-align: center;
  font-weight: normal;
  border-top: none;
  display: block;
  margin-bottom: 45px;
  margin-top: -15px;
  padding-bottom: 0;
  width: auto;
  font-size: 14px;
}

.pickup_content {
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.pickup_content .slider_recommend .pickup_img img {
  width: 167px;
  height: 125px;
}

.pickup_content .slider_recommend .pickup_img .date {
  font-size: 14px;
  color: black;
  margin: 15px 0;
  padding: 0 12px;
}
.pickup_content .slider_recommend .pickup_img .description {
  font-weight: bold;
  color: black;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  padding: 0 13px;
  font-size: 1.3em;
}

.pickup_list {
  display: flex;
  justify-content: center;
  word-wrap: break-word;
  flex-wrap: wrap;
}

.pickup_content .pickup_list li {
  width: 232px;
  display: inline-block;
  margin-bottom: 20px;
  text-align: left;
  vertical-align: top;
}

.pickup_content .pickup_list li .date {
  font-size: 14px;
  color: black;
  margin-bottom: 10px;
}

.pickup_content .pickup_list li .description {
  font-weight: bold;
  color: black;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  font-size: 1.3em;
}

.other_list {
  display: block;
  justify-content: center;
  margin-bottom: 80px;
}
.pickup_content .other_list li {
  width: 30%;
}

.pickup_content .collection_index {
  color: #29619a;
  font-size: 16px;
  line-height: 2.5;
  background: #ffffff;
  border: 2px solid #29619a;
  box-sizing: border-box;
  width: 280px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  font-weight: bold;
  text-align: center;
  margin: 30px auto 0;
}

.release {
  width: 80%;
  margin: 100px auto 0;
}

.twitter_area {
  width: 500px;
  margin: 0 auto;
  max-height: 600px;
  overflow-y: scroll;
  margin: 0 auto;
}

footer {
  background: #e5e5e1;
  padding-bottom: 20px;
}

footer ul {
  text-align: center;
  padding-top: 20px;
}

footer ul li {
  margin-right: 10px;
}

footer ul .footer_menu:after {
  content: "|";
  display: inline-block;
  width: 10px;
  color: #c1c1c1;
  text-align: center;
}

footer ul .footer_menu .menu_list {
  font-size: 12px;
  color: #000;
}

footer ul li a .pickup_img {
  width: 30px;
}

footer ul .company_name {
  margin-top: 10px;
  font-size: 12px;
}


/* レスポンシブ SP */
@media only screen and (max-width: 425px) {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .main_contents {
    width: 95%;
  }

  h2 {
    margin-top: 90px;
  }

  h2.first_content {
    margin-top: 100px;
  }

  h2 .title {
    font-size: 24px;
  }

  .sub_title {
    margin-bottom: 25px;
  }

  .scroll_header {
    position: fixed;
    top: 0px; /* ヘッダーを画面外に移動 */
    transition: top 0.3s; /* 移動する際のアニメーション効果を追加 */
  }

  /* スクロール時にヘッダーが現れるようにする */
  .scroll_header.visible {
    top: -200px;
  }

  .header_sp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    margin-top: 20px;
  }

  header .header_logo {
    margin: 0;
  }

  .header_logo img {
    margin: 0;
    padding: 0;
    max-width: 200px;
    border-top: 0;
  }

  .header_sp .header_icon {
    display: flex;
  }

  .header_sp .header_icon .header_icon_list img {
    width: 60px;
  }

  .header_search {
    padding: 5%;
    border-bottom: 1px solid grey;
    position: relative;
    background: white;

  }

  .header_search input {
    border: 1px solid #e5e5e1;
    font-size: 12px;
    line-height: 36px;
    box-sizing: border-box;
    width: 100%;
    height: 36px;
    padding: 0 40px 0 10px;
    background-color: #fff;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .header_search a {
    display: inline-block;
    position: absolute;
    top: 27px;
    right: 33px;
    height: 20px;
    width: 20px;
    background: url(../images/search.png) no-repeat right top;
    background-size: 20px 20px;
  }

  .header_content_button {
    width: 100%;
    height: 40px;
    position: relative;
  }

  .header_content_button .menu_button {
    height: 40px;
    line-height: 40px;
    background: #000 url(../images/sp_menu_button.png) no-repeat center;
    background-size: 76px 16px;
    position: absolute;
    top: 0;
    z-index: 10;
    border-right: 1px solid #3e3e3e;
    box-sizing: border-box;
    width: 50%;
  }

  .header_content_button .shopping_button {
    width: 50%;
    height: 40px;
    line-height: 40px;
    position: absolute;
    background: #000 url(../images/sp_shopping_button.png) no-repeat center;
    background-size: 117px 13px;
    top: 0;
    left: 50%;
    z-index: 10;
  }

  .pickup_list {
    display: flex;
    word-wrap: break-word;
    flex-wrap: wrap;
    padding: 0 3%;
  }

  .pickup_content .pickup_list li {
    width: 50%;
    margin: 0;
    padding: 0;
  }

  .pickup_content .pickup_list li:nth-child(2n+1) {
    margin-top: 20px;
  }
  .pickup_content .pickup_list li:nth-child(2n+2) {
    margin-top: 20px;
  }

  .pickup_content .pickup_list li .description {
    padding: 0 10px;
    font-size: 13px;
  }

  .release {
    width: 95%;
  }


  .twitter_area {
    width: 350px;
    margin: 0 auto;
    max-height: 600px;
    overflow-y: scroll;
    margin: 0 auto;
  }

  .pickup_content .other_list li {
    width: 95%;
    margin: 0 auto 10px;
    display: block;
  }

  .pickup_content .collection_index  {
    width: 95%;
  }

  /* footer */

  footer ul {
    padding-top: 30px;
  }

  footer ul li {
    margin-right: 0;
    padding: 0 10px;
  }

  footer ul li a .pickup_img {
    width: 20px;
  }

  footer ul .footer_menu {
    padding: 0;
  }

  footer ul .footer_menu .menu_list {
    font-size: 10px;
    letter-spacing: -1px;
    color: #555;
    padding: 0;
  }

  footer ul .company_name {
    margin-top: 10px;
    font-size: 10px;
    margin-bottom: 20px;
  }
}